.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  weight: 100%;
  padding: 31px 75px;
}

.header > img {
  height: 26px;
}

.linkList > a {
  margin-left: 20px;
  color: #CBCBCB;
  text-decoration: none;
  font-weight: bold;

  transition: all 0.2s ease-in-out;
} 

.linkList > a:hover {
  color: #FFFFFF;
}

.linkList > a:first-child {
  margin: 0;
  color: #FFFFFF;
  pointer-events: none;
}

.buttonList > .btn {
  margin-left: 20px;
}
