.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  background: var(--background-color);
  width: 100%;
  height: 80px;
  padding: 30px 76px;
  position: fixed;
}

.header > img {
  height: 26px;
}

.buttonList > .btn {
  margin-left: 20px;
}
