:root {
  font-family: Inter, sans-serif;

  color-scheme: light dark;
  color: #FFFFFF;
  
  --background-color: #070707;
  --primary-color: #CB063C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--background-color);
}

* { 
  box-sizing: border-box;
  margin: 0;
}